# Track core project folders
!frontend/
!backend/
!docker-compose.yml
!.gitignore

# Standard Ignores
node_modules/
backend/node_modules/
backend/vendor/
backend/.env
frontend/node_modules/
frontend/dist/
.vscode/

# OS/Logs
.DS_Store
Thumbs.db
*.log

# Ignore EVERYTHING else at root level to keep the workspace clean
/*
