# Ignore EVERYTHING at root level to keep the workspace clean
/*

# Un-ignore core project folders
!frontend/
!backend/
!docker/
!docker-compose.yml
!Dockerfile
!.dockerignore

# Standard Ignores
node_modules/
backend/node_modules/
backend/vendor/
backend/.env
frontend/node_modules/
frontend/dist/
.vscode/

# OS/Logs
.DS_Store
Thumbs.db
*.log
